@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,400&display=swap");
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: red;
    left: 200px;
    top: 0px;
  }
}
@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}
@keyframes shine {
  100% {
    left: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .main {
  background-color: #f9f9f9;
  font-family: "Roboto", sans-serif;
}
body .main a {
  text-decoration: none;
}
body .main h1,
body .main h2,
body .main h3,
body .main h4 {
  margin-bottom: 0;
}
body .main ul {
  padding: 0;
  margin-bottom: 0;
}
body .main button {
  outline: none;
  border: none;
}
body .main p {
  margin: 0;
}

.top-header {
  background-color: #bb162b;
}
.top-header .list-contact {
  padding: 10px 0;
}
.top-header .list-contact a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  margin-right: 15px;
}
.top-header .list-contact a i {
  margin-right: 5px;
}

.main-header {
  background: url(../image/backgroundheader.png) repeat center center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 100%;
}
.main-header .menu-mobile-modal {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: none;
}
@media only screen and (min-width: 992px) {
  .main-header .menu-mobile-modal {
    display: none !important;
  }
}
.main-header__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0;
}
.main-header__group .logo {
  text-decoration: none;
  display: block;
  width: 20%;
}
.main-header__group .logo img {
  width: 100%;
}
.main-header__group .menu {
  display: flex;
  list-style-type: none;
  margin-bottom: 0;
}
.main-header__group .menu li {
  padding-bottom: 10px;
}
.main-header__group .menu li .menu__dropdown {
  position: absolute;
  z-index: 3;
  display: none;
  background-color: whitesmoke;
  margin-top: 10px;
  box-shadow: 3px 5px 5px grey;
}
.main-header__group .menu li .menu__dropdown li {
  border-bottom: solid 1px #ccc;
  margin-top: 5px;
  padding: 10px 0;
  list-style-type: none;
}
.main-header__group .menu li .menu__dropdown li a {
  color: #333;
}
.main-header__group .menu li .menu__dropdown li:hover a {
  color: #bb162b;
}
.main-header__group .menu a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  display: inline-block;
  padding: 0 16px;
  font-weight: 500;
  transition: all 0.3s;
}
.main-header__group .menu li:hover a {
  color: #bb162b;
}
.main-header__group .menu li:hover .menu__dropdown {
  display: block;
}
.main-header__group .menu li:hover .menu__dropdown a {
  color: #333;
}
.main-header__group .menu-mobile .menu-icon {
  font-size: 20px;
  background-color: #bb162b;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .logo img {
    width: 80%;
  }
}
@media only screen and (max-width: 576px) {
  .logo img {
    width: 70%;
  }
}
.banner {
  width: 100%;
  height: 100%;
  position: relative;
}
.banner img {
  width: 100%;
  object-fit: cover;
}
.banner .owl-nav {
  display: none;
}
.banner .owl-nav button {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
}
.banner .owl-nav button.owl-next {
  left: unset;
  background: rgba(0, 0, 0, 0.5);
  right: 14px;
}
.banner .owl-nav button.owl-prev {
  background: rgba(0, 0, 0, 0.5);
}
.banner .owl-nav button span {
  font-size: 50px;
  line-height: 100%;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .banner .owl-nav {
    display: block;
  }
}
.banner .owl-dots {
  display: none;
}
.banner .banner-home__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 80px;
  display: none;
  width: 50%;
  color: #fff;
}
.banner .banner-home__text h1 {
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
}
.banner .banner-home__text p {
  padding: 15px 0;
  font-size: 18px;
}
.banner .banner-home__text button {
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #bb162b;
}
@media only screen and (min-width: 992px) {
  .banner .banner-home__text {
    display: block;
  }
}

.content-item {
  margin: 50px 0;
}
.content-item .company-info__heading {
  text-align: center;
  text-transform: uppercase;
  color: #bb162b;
  font-size: 35px;
  margin-bottom: 0;
}
.content-item .company-info__description {
  text-align: center;
  font-size: 18px;
  padding: 14px 0;
  margin-bottom: 0;
  color: #333;
  font-weight: 500;
}
.content-item .company-info .fast-access {
  background-color: #bb162b;
  cursor: pointer;
  color: #fff;
  padding: 18px;
  font-size: 18px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: 24px;
}
.content-item .company-info .fast-access__icon {
  color: #fdfb56;
  font-size: 30px;
  margin-right: 10px;
}
.content-item .company-info .fast-access:hover {
  opacity: 0.9;
}
.content-item .company-info__notification {
  margin-top: 30px;
  border: 3px solid;
  border-radius: 15px;
  background: #f5f9ea;
  padding: 20px;
}
.content-item .company-info__notification--title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
  color: #bb162b;
}
.content-item .company-info__notification--title span {
  color: #333;
}
.content-item .company-info__notification ol {
  line-height: 2;
}
.content-item .company-info__notification ol li {
  list-style-type: none;
  counter-increment: item;
}
.content-item .company-info__notification ol li span {
  font-size: 16px;
  font-weight: 500;
}
.content-item .company-info__notification ol li span:nth-child(2) {
  color: red;
  margin-left: 5px;
}
.content-item .company-info__notification ol li a {
  text-decoration: none;
  color: #288ad6;
}
.content-item .company-info__notification ol li a:hover {
  text-decoration: underline;
}
.content-item .company-info__notification ol li:before {
  content: counter(item);
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-family: "Indie Flower", cursive;
  margin-right: 5px;
  background-color: #bb162b;
  color: #fdfb56;
  font-weight: bold;
  font-size: 140%;
  padding: 0 8px 8px;
  line-height: 1.3;
}
.content-item .product__heading {
  text-transform: uppercase;
  font-size: 20px;
  color: #0e3947;
  font-weight: 600;
}
.content-item .product__item {
  margin: 30px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 15px;
  overflow: hidden;
}
.content-item .product__item--img {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.content-item .product__item--img img {
  transition: 1s;
  width: 100%;
}
.content-item .product__item--img .modal-layout {
  position: absolute;
  background: rgba(12, 62, 187, 0.5);
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}
.content-item .product__item--img .modal-layout button {
  background: transparent;
  font-size: 18px;
  width: 45px;
  height: 45px;
  color: #fff;
  border: 2px solid;
  margin-right: 10px;
  transition: 0.5s;
  border-radius: 10px;
}
.content-item .product__item--img .modal-layout button:hover {
  background-color: #b70100;
  border: 2px solid #b70100;
}
.content-item .product__item--img:hover img {
  transform: scale(1.2);
}
.content-item .product__item--img:hover .modal-layout {
  opacity: 1;
}
.content-item .product__item--info h4 {
  margin-bottom: 0;
}
.content-item .product__item--info .item__name {
  font-size: 22px;
  font-weight: 600;
  color: #bb162b;
  padding: 14px 0;
  letter-spacing: 4px;
  transition: 0.5s;
}
.content-item .product__item--info .item__name:hover {
  color: #bb162b;
}
.content-item .product__item--info .item__price {
  color: #333;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 14px;
}
.content-item .product__item--info .item__description {
  margin-bottom: 0;
  -webkit-line-clamp: 3;
  font-size: 16px;
  color: #333;
  width: 100%;
  overflow: hidden;
  line-height: 1.5;
  max-height: 100px;
  text-overflow: ellipsis;
}
.content-item .product__item--view {
  background-color: #bb162b;
  color: #fff;
  font-size: 16px;
  width: max-content;
  margin-top: 14px;
}
.content-item .product__item--view p {
  border: 1px solid red;
  position: relative;
  padding: 14px;
  overflow: hidden;
}
.content-item .product__item--view p::before {
  animation: shine 1.3s infinite ease-in-out;
  position: absolute;
  top: -2%;
  left: -70%;
  z-index: 2;
  display: block;
  content: "";
  width: 50%;
  height: 110%;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, #fafafa 100%);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
}
.content-item .product__item--view p i {
  margin-right: 5px;
}
.content-item .product__item--view:hover {
  background-color: #8d0f20 !important;
}
.content-item .product__item--view:hover p::before {
  border-color: #8d0f20 !important;
}
.content-item .product__item:hover {
  cursor: pointer;
}
.content-item .facilities__heading {
  text-transform: uppercase;
  font-size: 20px;
  color: #0e3947;
  font-weight: 600;
}
.content-item .facilities__item {
  margin: 30px 0;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  text-align: center;
  padding: 20px;
  position: relative;
  cursor: pointer;
}
.content-item .facilities__item--wrap {
  position: relative;
  z-index: 100;
}
.content-item .facilities__item--icon {
  width: 80px;
  height: 80px;
  background: #fff;
  border: 2px dashed #bb162b;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: 1s;
}
.content-item .facilities__item--icon i {
  font-size: 45px;
  color: #bb162b;
}
.content-item .facilities__item--heading {
  margin: 18px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333;
  transition: 0.5s;
}
.content-item .facilities__item--des {
  font-size: 16px;
  transition: 0.5s;
}
.content-item .facilities__item::after {
  content: " ";
  position: absolute;
  background: #bb162b;
  top: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.5s;
}
.content-item .facilities__item:hover::after {
  top: 0;
}
.content-item .facilities__item:hover .facilities__item--icon {
  border-color: transparent;
}
.content-item .facilities__item:hover .facilities__item--heading {
  color: #fff;
}
.content-item .facilities__item:hover .facilities__item--des {
  color: #fff;
}

.contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
}
.contact__list {
  display: flex;
  flex-direction: column;
}
.contact__list--item {
  background-color: #288ad6;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  cursor: pointer;
}
.contact__list--item img {
  width: 60%;
}
.contact__list--item:hover {
  opacity: 0.9;
}
.contact__list .contact-hotline {
  background: #bb162b;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #fff;
}
.contact__list .contact-hotline i {
  margin-right: 5px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  z-index: 100;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #bb162b;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
}
.back-to-top:hover {
  opacity: 0.8;
}
.back-to-top i {
  transform: rotate(-90deg);
  font-size: 16px;
}

footer {
  background-color: #e6e6e6;
  padding: 30px 0;
  color: #333;
}
footer .footer__item {
  margin-top: 30px;
}
footer .footer__item--logo img {
  width: 80%;
}
footer .footer__item--des {
  font-size: 16px;
  margin-top: 14px;
}
footer .footer__item--heading {
  font-size: 24px;
  padding: 14px 0;
}
footer .footer__item--form {
  display: flex;
  width: 100%;
}
footer .footer__item--form input {
  width: 100%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  border: none;
}
footer .footer__item--form button {
  padding: 10px;
  font-size: 16px;
  border: none;
}
footer .footer__item--list {
  list-style: none;
  padding-left: 0;
}
footer .footer__item--list i {
  margin-right: 5px;
}
footer .footer__item--list li {
  padding-bottom: 14px;
}

.car-detail-page {
  margin-top: 50px;
}
.car-detail-page .car-detail-section .slider {
  width: 100%;
}
.car-detail-page .car-detail-section .slider img {
  width: 100%;
}
.car-detail-page .car-detail-section .slider-nav {
  margin-top: 10px;
}
.car-detail-page .car-detail-section .slider-nav .owl-stage {
  display: flex;
}
.car-detail-page .car-detail-section .slider-nav .owl-stage .owl-item {
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.car-detail-page .car-detail-section .slider-nav .owl-stage .owl-item.current {
  border: 3px solid #ccc;
}
.car-detail-page .car-detail-section__info {
  margin: 30px 0;
  background-color: #fff;
  padding: 16px;
}
.car-detail-page .car-detail-section__info--heading {
  font-size: 26px;
  text-transform: uppercase;
  padding: 14px 0;
  color: #bb162b;
}
.car-detail-page .car-detail-section__info--des p {
  font-size: 16px;
  color: #333;
}
.car-detail-page .car-detail-info {
  background-color: #fff;
  padding: 16px;
}
.car-detail-page .car-detail-info__name {
  font-size: 22px;
  font-weight: 500;
  color: #bb162b;
  margin-bottom: 0;
  padding: 14px 0px;
  border-bottom: 2px solid #ccc;
}
.car-detail-page .car-detail-info__price {
  font-size: 18px;
  color: #bb162b;
  padding: 16px 0;
}
.car-detail-page .car-detail-info ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.car-detail-page .car-detail-info ul li {
  padding: 8px 0;
  font-size: 16px;
}
.car-detail-page .car-detail-info ul li span {
  display: inline-block;
  width: 35%;
}
.car-detail-page .car-detail-info__des {
  font-size: 16px;
  margin: 10px 0;
  font-weight: 400;
  line-height: 2;
}
.car-detail-page .car-detail-info__oder {
  width: 100%;
  border-radius: 10px;
  padding: 14px 0;
  color: #fff;
  background: #bb162b;
  border: none;
  outline: none;
  margin: 16px 0;
  text-transform: uppercase;
  font-weight: 500;
}
.car-detail-page .car-detail-info__oder:hover {
  opacity: 0.8;
  cursor: pointer;
}
.car-detail-page .related-products__title {
  font-size: 20px;
  text-transform: uppercase;
  color: #101e5d;
  margin-top: 45px;
}
@media only screen and (min-width: 992px) {
  .car-detail-page .related-products__title {
    font-size: 26px;
    margin: 14px 0;
  }
}
.car-detail-page .related-products__item {
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  border-radius: 8px;
  overflow: hidden;
  margin: 14px 0 50px 0;
  transition: 0.5s;
}
.car-detail-page .related-products__item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.car-detail-page .related-products__item:hover .related-products__item--img img {
  transform: scale(1.1);
}
.car-detail-page .related-products__item--img {
  width: 100%;
  overflow: hidden;
}
.car-detail-page .related-products__item--img img {
  transition: 0.5s;
  width: 100%;
}
.car-detail-page .related-products__item--info {
  padding: 16px;
}
.car-detail-page .related-products__item--info .item__name {
  white-space: nowrap;
  overflow: hidden;
  font-size: 18px;
  text-overflow: ellipsis;
  color: #bb162b;
  padding: 14px 0;
}
.car-detail-page .related-products__item--info .item__price {
  font-size: 16px;
  color: red;
  font-weight: 600;
}
.car-detail-page .related-products__item--order {
  display: block;
  border: none;
  outline: none;
  background: #bb162b;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin: 14px auto;
}

.lb-data .lb-closeContainer .lb-close {
  display: none;
}

.test-drive__heading {
  background-color: #bb162b;
  text-align: center;
  padding: 20px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
.test-drive__heading h2 {
  font-size: 20px;
  color: #fdfb56;
  margin-bottom: 8px;
}
.test-drive__heading p {
  margin-bottom: 0;
  font-size: 12px;
  font-style: italic;
  color: #fff;
  text-transform: inherit;
  font-weight: 500;
}
.test-drive__form {
  margin-top: 10px;
}
.test-drive__form form .form-group {
  display: flex;
}
.test-drive__form form .form-group input {
  flex: 1;
  outline: none;
  padding: 10px 16px;
  border: 1px solid #ccc;
  margin: 10px 10px;
}
.test-drive__form form .form-group select {
  outline: none;
  flex: 1;
  padding: 10px 16px;
  margin: 10px 10px;
  border: 1px solid #ccc;
}
.test-drive__form form button {
  display: flex;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  margin: 0 auto;
  padding: 12px 20px;
  margin-top: 16px;
  background-color: #bb162b;
  border: none;
  border-radius: 24px;
}
.test-drive__form form button span {
  margin-left: 20px;
}
.test-drive__form form button i {
  position: relative;
  animation: arrowLeft 0.7s ease-in infinite;
}
@keyframes arrowLeft {
  from {
    opacity: 1;
    left: 0;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
    left: 12px;
  }
}

.list-category {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
.list-category__heading {
  color: #fff;
  background-color: #bb162b;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}
.list-category__list {
  list-style: none;
}
.list-category__list li {
  padding: 14px 24px;
  border-bottom: 1px solid #ccc;
}
.list-category__list li a {
  color: #333;
}

.car-list {
  background-color: #fff;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  margin-top: 30px;
}
@media only screen and (min-width: 992px) {
  .car-list {
    margin-top: 0;
  }
}
.car-list__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.car-list h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}
.car-list .filter-action {
  width: 40%;
  outline: none;
}
.car-list .filter-action option {
  padding: 10px;
}
.car-list__list--item:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.car-list__list--item:hover .list__img img {
  transform: scale(1.1);
}
.car-list__list .list__img {
  width: 100%;
  overflow: hidden;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25);
}
.car-list__list .list__img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}
.car-list__list .list__info {
  padding: 20px;
  height: 100%;
}
.car-list__list .list__info--wrap {
  padding: 20px;
}
.car-list__list .list__info--name {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 5px;
  padding-bottom: 14px;
}
.car-list__list .list__info--price {
  color: #333;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 10px;
}
.car-list__list .list__info--des {
  font-size: 14px;
  color: #5d5959;
  line-height: 2;
}
.car-list__list .list__info--view {
  padding: 10px 20px;
  margin-top: 14px;
  border-radius: 8px;
  background-color: #bb162b;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.pagination {
  display: flex;
  justify-content: center;
}
.pagination__item {
  background: #fff;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}
.pagination__item span {
  color: #333;
}
.pagination__item:hover {
  cursor: pointer;
  background-color: #bb162b;
}
.pagination__item:hover a,
.pagination__item:hover span {
  color: #fff;
}
.pagination__item.active {
  background-color: #bb162b;
}
.pagination__item.active a {
  color: #fff;
}
.pagination__item a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}
.pagination__item:last-child {
  margin-right: 0;
}

.filter-form {
  background: #fff;
  padding: 30px;
}
.filter-form__heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}
.filter-form__form--search {
  margin-top: 30px;
}
.filter-form__form--search input {
  width: 100%;
  outline: none;
  padding: 10px 20px;
  border: 2px solid #ccc;
}
.filter-form__form--group {
  position: relative;
  margin-top: 30px;
}
.filter-form__form--group select {
  display: block;
  width: 100%;
  border-radius: 5px;
  border-radius: 3px;
  border: 2px solid #ccc;
  outline: none;
  margin-top: 5px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  padding: 10px 20px;
}
.filter-form__form--group:after {
  content: " ";
  border-width: 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #333;
  position: absolute;
  right: 20px;
  bottom: 14px;
}
.filter-form__form--group .selector-options {
  list-style: none;
  background: #fff;
  color: #333;
  border-radius: 4px;
  z-index: 1;
  width: 100%;
  position: absolute;
  margin-top: 8px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  overflow: hidden;
  cursor: pointer;
}
.filter-form__form--group .selector-options li {
  padding: 10px 20px;
}
.filter-form__form--group .selector-options li:hover {
  background-color: #ccc;
}
.filter-form__form--range-price {
  position: relative;
  background-color: #cccccc;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  margin-top: 50px;
}
.filter-form__form--range-price .range-price__progress {
  position: absolute;
  height: 100%;
  left: 0;
  border-radius: 5px;
  right: 0;
  background: #bb162b;
}
.filter-form__form--range-price input {
  -webkit-appearance: none;
  position: absolute;
  width: 100%;
  height: 5px;
  background-color: transparent;
  pointer-events: none;
}
.filter-form__form--range-price input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 12px;
  background-color: #bb162b;
  pointer-events: auto;
}
.filter-form__form--range-price .range-price__text div {
  position: absolute;
  color: #333;
  font-size: 13px;
  left: 0;
  text-align: center;
  top: 20px;
  transform: translateX(-20%);
}
.filter-form__form--range-price .range-price__text .text-max {
  left: unset;
  right: 0;
  transform: translateX(20%);
}
.filter-form__form button {
  margin-top: 80px;
  width: 100%;
  padding: 12px 0;
  background: #bb162b;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
}

.blog-list__title {
  color: #333;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 500;
}
.blog-list__item {
  background-color: #fff;
  margin-bottom: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  transition: 0.3s;
}
.blog-list__item:hover {
  transform: translateY(-5px);
}
.blog-list__item:hover .blog-list__item--img img {
  transform: scale(1.05);
}
.blog-list__item:hover .blog-list__item--img .posted-by {
  background-color: #bb162b;
  transition: 0.3s;
}
.blog-list__item:hover .blog-list__item--img .posted-by__item i {
  color: #fff;
  transition: 0.3s;
}
.blog-list__item--img {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.blog-list__item--img img {
  transition: 0.4s;
  width: 100%;
}
.blog-list__item--img .posted-by {
  position: absolute;
  bottom: 20px;
  width: 90%;
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 0;
  border-radius: 10px;
}
.blog-list__item--img .posted-by__item {
  margin-right: 14px;
  font-size: 16px;
}
.blog-list__item--img .posted-by__item i {
  margin-right: 5px;
  color: #bb162b;
}
.blog-list__item--img .posted-by__item:last-child {
  margin-right: 0;
}
.blog-list__item--info {
  padding: 24px;
}
.blog-list__item--info .item__heading {
  font-size: 21px;
  color: #bb162b;
  padding: 10px 0;
}
.blog-list__item--info .item__subheading {
  font-size: 16px;
  color: #3d3d3d;
}
.blog-list__item--info .item__read-more {
  background: #bb162b;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 16px;
}

.left-wrap {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.left-wrap .recent-blog {
  background-color: #fff;
  padding: 24px;
  border-bottom: 1px solid #ccc;
  margin-top: 45px;
}
@media only screen and (min-width: 992px) {
  .left-wrap .recent-blog {
    margin-top: 0;
  }
}
.left-wrap .recent-blog__heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}
.left-wrap .recent-blog__item {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-top: 20px;
}
.left-wrap .recent-blog__item--img {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  overflow: hidden;
}
.left-wrap .recent-blog__item--img img {
  width: 100%;
  object-fit: cover;
}
.left-wrap .recent-blog__item--info {
  margin-left: 14px;
}
.left-wrap .recent-blog__item--info .blog__name {
  font-size: 16px;
  font-weight: 600;
}
.left-wrap .recent-blog__item--info .blog__post-at {
  font-size: 13px;
}
.left-wrap .recent-blog__item--info .blog__post-at i {
  margin-right: 5px;
}
.left-wrap .category-list {
  background-color: #fff;
  padding: 24px;
  border-bottom: 1px solid #ccc;
}
.left-wrap .category-list__heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}
.left-wrap .category-list ul {
  list-style: none;
  margin-top: 20px;
}
.left-wrap .category-list ul li {
  padding: 8px 0;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}
.left-wrap .category-list ul li:hover {
  color: #bb162b;
}
.left-wrap .tag {
  background-color: #fff;
  padding: 24px;
}
.left-wrap .tag__heading {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
}
.left-wrap .tag__container {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}
.left-wrap .tag__container .tag__item {
  display: block;
  padding: 5px 14px;
  background: #ccc;
  margin-right: 5px;
  margin-top: 7px;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}
.left-wrap .tag__container .tag__item:hover {
  color: #fff;
  background-color: #bb162b;
}

.blog-detail__img {
  width: 100%;
}
.blog-detail__img img {
  width: 100%;
}
.blog-detail__content {
  padding: 30px;
  background: #fff;
}
.blog-detail__content--name {
  font-size: 24px;
  color: #bb162b;
  padding-bottom: 10px;
}
.blog-detail__content p.blog-detail__content--text {
  font-size: 16px;
  margin-bottom: 10px;
}
.blog-detail__tag {
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.blog-detail__tag h4 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 14px;
}
.blog-detail__tag ul {
  list-style: none;
  display: flex;
}
.blog-detail__tag ul li a {
  display: block;
  padding: 5px 20px;
  background-color: #ccc;
  margin-right: 7px;
  text-decoration: none;
  color: #333;
  border-radius: 5px;
}
.blog-detail__tag ul li:hover a {
  background-color: #bb162b;
  color: #fff;
}

.notification-modal .modal-content {
  padding: 30px;
}
.notification-modal .modal-content .btn-close {
  display: none;
}
.notification-modal .modal-content h4 {
  text-align: center;
  font-size: 24px;
  color: #bb162b;
  padding-bottom: 16px;
}
.notification-modal .modal-content p {
  text-align: center;
  font-size: 16px;
}
.notification-modal .modal-content p span {
  color: #bb162b;
}
.notification-modal .modal-content form .form-group {
  margin-top: 20px;
}
.notification-modal .modal-content form .form-group label {
  font-size: 14px;
}
.notification-modal .modal-content form .form-group__wrap {
  display: flex;
}
.notification-modal .modal-content form .form-group__wrap span {
  font-size: 14px;
}
.notification-modal .modal-content form .form-group__wrap label {
  margin-left: 5px;
  font-size: 14px;
}
.notification-modal .modal-content form .form-group__item {
  flex: 1;
}
.notification-modal .modal-content form .form-group__item > p {
  text-align: start;
}
.notification-modal .modal-content form .form-group__item > p label.error {
  color: red;
}
.notification-modal .modal-content form .form-group__item label {
  margin-left: 0;
}
.notification-modal .modal-content form .form-group__item input[type=text] {
  margin-top: 10px;
  width: 100%;
  padding: 6px;
}
.notification-modal .modal-content form .form-group__item input[type=email] {
  margin-top: 10px;
  width: 100%;
  padding: 6px;
}
.notification-modal .modal-content form .form-group__item:nth-child(2) {
  margin-left: 10px;
}
.notification-modal .modal-content form .form-group select {
  width: 100%;
  padding: 8px 10px;
  margin-top: 10px;
}
.notification-modal .modal-content form button {
  width: 100%;
  margin-top: 24px;
  padding: 10px 0;
  background: #bb162b;
  color: #fff;
  text-transform: uppercase;
}

.menu-mobile {
  position: relative;
}
.menu-mobile .menu-mobile__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  z-index: 100000;
  min-height: 100vh;
  overflow-y: hidden;
  background-color: #fff;
  top: 0;
  left: -330px;
  width: 330px;
  text-align: center;
  transition: all 0.5s;
  padding: 25px 0;
  opacity: 0;
}
.menu-mobile .menu-mobile__list.active {
  opacity: 1;
  left: 0;
}
.menu-mobile .menu-mobile__list .logo {
  width: 50%;
}
.menu-mobile .menu-mobile__list .close-menu-mobile {
  right: 16px;
  position: absolute;
  top: 16px;
  font-size: 28px;
  color: #333;
  cursor: pointer;
}
.menu-mobile .menu-mobile__list ul {
  list-style: none;
  width: 100%;
  padding: 0 30px;
}
.menu-mobile .menu-mobile__list ul li {
  text-align: start;
}
.menu-mobile .menu-mobile__list ul li a {
  display: block;
  border-bottom: 2px solid #ccc;
  padding: 10px 0;
  color: #333;
}

.page-404-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.page-404-container h1 {
  font-size: 40px;
  color: #333;
}
@media only screen and (min-width: 992px) {
  .page-404-container h1 {
    font-size: 60px;
  }
}
.page-404-container p {
  font-size: 16px;
  padding: 20px 0;
}
@media only screen and (min-width: 992px) {
  .page-404-container p {
    font-size: 16px;
  }
}
.page-404-container a {
  background: #bb162b;
  color: #fff;
  padding: 16px 35px;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 10px;
}
@media only screen and (min-width: 992px) {
  .page-404-container a {
    font-size: 20px;
  }
}

.installment-procedure {
  border: 2px solid #ccc;
  padding: 20px;
}
.installment-procedure h1 {
  font-size: 24px;
  color: #bb162b;
  padding-bottom: 20px;
}
.installment-procedure p {
  font-size: 16px;
}
.installment-procedure .share-social-btn {
  display: inline-block;
  background-color: #bb162b;
  color: #fff;
  padding: 5px 20px;
  margin-bottom: 20px;
}

/*# sourceMappingURL=style.css.map */
