.blog-detail {
  &__img {
    width: 100%;
    img {
      width: 100%;
    }
  }
  &__content {
    padding: 30px;
    background: #fff;
    &--name {
      font-size: 24px;
      color: $mainColor;
      padding-bottom: 10px;
    }
    p.blog-detail__content--text {
      font-size: 16px;
      margin-bottom: 10px;
    }
  }
  &__tag {
    display: flex;
    align-items: center;
    margin-top: 40px;
    h4 {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 600;
      margin-right: 14px;
    }
    ul {
      list-style: none;
      display: flex;
      li {
        a {
          display: block;
          padding: 5px 20px;
          background-color: #ccc;
          margin-right: 7px;
          text-decoration: none;
          color: #333;
          border-radius: 5px;
        }
        &:hover {
          a {
            background-color: $mainColor;
            color: #fff;
          }
        }
      }
    }
  }
}
