.menu-mobile {
  position: relative;
  .menu-mobile__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    z-index: 100000;
    min-height: 100vh;
    overflow-y: hidden;
    background-color: #fff;
    top: 0;
    left: -330px;
    width: 330px;
    text-align: center;
    transition: all 0.5s;
    padding: 25px 0;
    opacity: 0;
    &.active {
      opacity: 1;
      left: 0;
    }
    .logo {
      width: 50%;
    }
    .close-menu-mobile {
      right: 16px;
      position: absolute;
      top: 16px;
      font-size: 28px;
      color: #333;
    }

    ul {
      list-style: none;
      width: 100%;
      margin-top: 40px;
      padding: 0 30px;
      li {
        text-align: start;
        a {
          display: block;
          border-bottom: 2px solid #ccc;
          padding: 10px 0;
          color: #333;
        }
      }
    }
  }
}
