.top-header {
  background-color: $mainColor;
  .list-contact {
    padding: 10px 0;
    a {
      color: #fff;
      font-size: 16px;
      text-decoration: none;
      margin-right: 15px;
      i {
        margin-right: 5px;
      }
    }
  }
}

// header
.main-header {
  background-color: #fff;
  // position: fixed;
  width: 100%;
  &__group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    .logo {
      text-decoration: none;
    }
    .menu {
      display: flex;
      list-style: none;
      margin-bottom: 0;
      a {
        text-decoration: none;
        color: $mainTextColor;
        font-size: 18px;
        display: inline-block;
        padding: 0 16px;
        font-weight: 500;
        transition: all 0.3s;
      }
      li:hover {
        a {
          color: $secondTextColor;
        }
      }
    }

    .menu-mobile {
      .menu-icon {
        font-size: 20px;
        background-color: $secondTextColor;
        color: #fff;
        padding: 10px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    img {
      width: 80%;
    }
  }
}
@media only screen and (max-width: 576px) {
  .logo {
    img {
      width: 70%;
    }
  }
}

// banner

.banner {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    object-fit: cover;
  }
  .owl-nav {
    display: none;
    button {
      display: flex;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 14px;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      &.owl-next {
        left: unset;
        background: rgba(0, 0, 0, 0.5);
        right: 14px;
      }
      &.owl-prev {
        background: rgba(0, 0, 0, 0.5);
      }
      span {
        font-size: 50px;
        line-height: 100%;
        color: #fff;
      }
    }
    @media only screen and (min-width: 768px) {
      & {
        display: block;
      }
    }
  }
  .owl-dots {
    display: none;
  }
}

// content
.content {
  &-item {
    margin: 50px 0;
    .company-info {
      &__heading {
        text-align: center;
        text-transform: uppercase;
        color: $secondTextColor;
        font-size: 35px;
        margin-bottom: 0;
      }
      &__description {
        text-align: center;
        font-size: 18px;
        padding: 14px 0;
        margin-bottom: 0;
        color: $mainTextColor;
        font-weight: 500;
      }
      .fast-access {
        background-color: $mainColor;
        cursor: pointer;
        color: #fff;
        padding: 18px;
        font-size: 18px;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-top: 24px;
        &__icon {
          color: #b70100;
          font-size: 30px;
          margin-right: 10px;
        }
      }
      .fast-access:hover {
        opacity: 0.9;
      }
      &__notification {
        margin-top: 30px;
        border: 3px solid;
        border-radius: 15px;
        background: #f5f9ea;
        padding: 20px;
        &--title {
          text-align: center;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 16px;
          color: $secondTextColor;
          span {
            color: $mainTextColor;
          }
        }
        ol {
          line-height: 2;
        }

        ol li {
          list-style-type: none;
          counter-increment: item;
          span {
            font-size: 16px;
            font-weight: 500;
          }
          span:nth-child(2) {
            color: red;
            margin-left: 5px;
          }
          a {
            text-decoration: none;
            color: $linkTextColor;
          }
          a:hover {
            text-decoration: underline;
          }
        }
        ol li:before {
          content: counter(item);
          display: inline-block;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          font-family: "Indie Flower", cursive;
          margin-right: 5px;
          background-color: $secondTextColor;
          color: red;
          font-weight: bold;
          font-size: 140%;
          padding: 0 8px 8px;
          line-height: 1.3;
        }
      }
    }
    .product {
      &__heading {
        text-transform: uppercase;
        font-size: 20px;
        color: #0e3947;
        font-weight: 600;
      }
      &__item {
        margin: 30px 0;
        display: block;
        background: #fff;
        box-shadow: rgb(0 0 0 / 25%) 0px 0.0625em 0.0625em,
          rgb(0 0 0 / 25%) 0px 0.125em 0.5em,
          rgb(255 255 255 / 10%) 0px 0px 0px 1px inset;
        border-radius: 15px;
        overflow: hidden;

        &--img {
          width: 100%;
          overflow: hidden;
          position: relative;
          img {
            transition: 1s;
            width: 100%;
          }
          .modal-layout {
            position: absolute;
            background: rgba(12, 62, 187, 0.5);
            width: 100%;
            top: 0;
            bottom: 0;
            opacity: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            button {
              background: transparent;
              font-size: 18px;
              width: 45px;
              height: 45px;
              color: #fff;
              border: 2px solid;
              margin-right: 10px;
              transition: 0.5s;
              border-radius: 10px;
            }
            button:hover {
              background-color: #b70100;
              border: 2px solid #b70100;
            }
          }
        }
        &--img:hover {
          img {
            transform: scale(1.2);
          }
          .modal-layout {
            opacity: 1;
          }
        }
        &--info {
          padding: 14px;
          h4 {
            margin-bottom: 0;
          }
          .item__name {
            font-size: 22px;
            font-weight: 600;
            color: $mainColor;
            padding: 14px 0;
            letter-spacing: 4px;
            transition: 0.5s;
          }
          .item__name:hover {
            color: $secondTextColor;
          }
          .item__price {
            color: red;
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 14px;
          }
          .item__description {
            margin-bottom: 0;
            font-size: 16px;
            color: #333;
          }
        }
        &--view {
          padding: 14px;
          border-top: 1px solid #ccc;
          background-color: $secondTextColor;
          color: #fff;
          font-size: 16px;
          i {
            margin-right: 5px;
          }
        }
      }
      &__item:hover {
        cursor: pointer;
      }
    }

    .facilities {
      &__heading {
        text-transform: uppercase;
        font-size: 20px;
        color: #0e3947;
        font-weight: 600;
      }
      &__item {
        margin: 30px 0;
        background: #fff;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        text-align: center;
        padding: 20px;
        position: relative;
        cursor: pointer;
        &--wrap {
          position: relative;
          z-index: 100;
        }
        &--icon {
          width: 80px;
          height: 80px;
          background: #fff;
          border: 2px dashed $secondTextColor;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          left: 50%;
          transform: translateX(-50%);
          transition: 1s;
          i {
            font-size: 45px;
            color: $secondTextColor;
          }
        }
        &--heading {
          margin: 18px 0;
          font-size: 20px;
          font-weight: 600;
          text-transform: uppercase;
          color: $mainTextColor;
          transition: 0.5s;
        }
        &--des {
          font-size: 16px;
          transition: 0.5s;
        }
      }
      &__item::after {
        content: " ";
        position: absolute;
        background: $secondTextColor;
        top: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all 0.5s;
      }
      &__item {
        &:hover {
          &::after {
            top: 0;
          }
          .facilities__item--icon {
            border-color: transparent;
          }
          .facilities__item--heading {
            color: #fff;
          }
          .facilities__item--des {
            color: #fff;
          }
        }
      }
    }
  }
}

// Contact
.contact {
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 100;
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    &--item {
      background-color: $secondTextColor;
      border-radius: 50%;
      width: 45px;
      height: 45px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10px;
      cursor: pointer;
      img {
        width: 60%;
      }
    }
    &--item:hover {
      opacity: 0.9;
    }
  }
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  z-index: 100;
  right: 20px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: $secondTextColor;
  display: none;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: #fff;
  z-index: 100;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
  i {
    transform: rotate(-90deg);
    font-size: 16px;
  }
}

// Footer
footer {
  background-color: $mainColor;
  padding: 30px 0;
  color: #fff;
  .footer__item {
    margin-top: 30px;
    &--logo {
      img {
        width: 40%;
      }
    }
    &--des {
      font-size: 16px;
      margin-top: 14px;
    }
    &--heading {
      font-size: 24px;
      padding: 14px 0;
    }
    &--form {
      display: flex;
      width: 100%;
      input {
        width: 100%;
        padding: 10px;
        outline: none;
        font-size: 16px;
        border: none;
      }
      button {
        padding: 10px;
        font-size: 16px;
        border: none;
      }
    }
    &--list {
      list-style: none;
      padding-left: 0;
      i {
        margin-right: 5px;
      }
      li {
        padding-bottom: 14px;
      }
    }
  }
}
