.installment-procedure {
  border: 2px solid #ccc;
  padding: 20px;
  h1 {
    font-size: 24px;
    color: $mainColor;
    padding-bottom: 20px;
  }
  p {
    font-size: 16px;
  }
  .share-social-btn {
    display: inline-block;
    background-color: $mainColor;
    color: #fff;
    padding: 5px 20px;
    margin-bottom: 20px;
  }
}
