.notification-modal {
  .modal-content {
    .btn-close {
      display: none;
    }
    padding: 30px;
    h4 {
      text-align: center;
      font-size: 24px;
      color: $secondTextColor;
      padding-bottom: 16px;
    }
    p {
      text-align: center;
      font-size: 16px;
      span {
        color: $secondTextColor;
      }
    }
    form {
      .form-group {
        label {
          font-size: 14px;
        }
        margin-top: 20px;
        &__wrap {
          display: flex;
          align-items: center;
          span {
            font-size: 14px;
          }
          label {
            margin-left: 5px;
            font-size: 14px;
          }
        }
        &__item {
          flex: 1;
          label {
            margin-left: 0;
          }
          input[type="text"] {
            margin-top: 10px;
            width: 100%;
            padding: 6px;
          }
          input[type="email"] {
            margin-top: 10px;
            width: 100%;
            padding: 6px;
          }
          &:nth-child(2) {
            margin-left: 10px;
          }
        }

        select {
          width: 100%;
          padding: 8px 10px;
          margin-top: 10px;
        }
      }
      button {
        width: 100%;
        margin-top: 24px;
        padding: 10px 0;
        background: $secondTextColor;
        color: #fff;
        text-transform: uppercase;
      }
    }
  }
}
