.car-list {
  margin-top: 45px;
  @media only screen and (min-width: 992px) {
    & {
      margin-top: 0;
    }
  }
  &__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: $mainTextColor;
  }
  .filter-action {
    width: 40%;
    outline: none;
    option {
      padding: 10px;
    }
  }
  &__list {
    &--item {
      &:hover {
        transform: translateY(-5px);
        cursor: pointer;
        .list__img {
          img {
            transform: scale(1.1);
          }
        }
      }
    }
    .list__img {
      width: 100%;
      overflow: hidden;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25);
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        transition: 0.5s;
      }
    }
    .list__info {
      padding: 20px;
      height: 100% &--wrap {
        padding: 20px;
      }
      &--name {
        font-size: 24px;
        font-weight: 500;
        letter-spacing: 5px;
        padding-bottom: 14px;
      }
      &--price {
        color: red;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 10px;
      }
      &--des {
        font-size: 14px;
        color: #5d5959;
        line-height: 2;
      }
      &--view {
        padding: 10px 20px;
        margin-top: 14px;
        border-radius: 8px;
        background-color: $secondTextColor;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  &__item {
    background: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 30px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    span {
      color: $mainTextColor;
    }
    &:hover {
      cursor: pointer;
      background-color: $secondTextColor;
      a,
      span {
        color: #fff;
      }
    }
    &.active {
      background-color: $secondTextColor;
      a {
        color: #fff;
      }
    }
    a {
      text-decoration: none;
      color: $mainTextColor;
      font-size: 18px;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }
}
.filter-form {
  background: #fff;
  padding: 30px;
  &__heading {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    color: #333;
  }
  &__form {
    &--search {
      margin-top: 30px;
      input {
        width: 100%;
        outline: none;
        padding: 10px 20px;
        border: 2px solid #ccc;
      }
    }
    &--group {
      position: relative;
      margin-top: 30px;
      select {
        display: block;
        width: 100%;
        border-radius: 5px;
        border-radius: 3px;
        border: 2px solid #ccc;
        outline: none;
        margin-top: 5px;
        cursor: pointer;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        padding: 10px 20px;
      }
      &:after {
        content: " ";
        border-width: 6px;
        border-style: solid;
        border-color: transparent;
        border-top-color: #333;
        position: absolute;
        right: 20px;
        bottom: 14px;
      }
      .selector-options {
        list-style: none;
        background: #fff;
        color: #333;
        border-radius: 4px;
        z-index: 1;
        width: 100%;
        position: absolute;
        margin-top: 8px;
        box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
          rgba(17, 17, 26, 0.05) 0px 8px 32px;
        overflow: hidden;
        cursor: pointer;
        li {
          padding: 10px 20px;
          &:hover {
            background-color: #ccc;
          }
        }
      }
    }
    &--range-price {
      position: relative;
      background-color: #cccccc;
      width: 100%;
      height: 5px;
      border-radius: 5px;
      margin-top: 50px;
      .range-price__progress {
        position: absolute;
        height: 100%;
        left: 0;
        border-radius: 5px;
        right: 0;
        background: $secondTextColor;
      }
      input {
        -webkit-appearance: none;
        position: absolute;
        width: 100%;
        height: 5px;
        background-color: transparent;
        pointer-events: none;
        &::-webkit-slider-thumb {
          -webkit-appearance: none;
          width: 10px;
          height: 12px;
          background-color: $secondTextColor;
          pointer-events: auto;
        }
      }
      .range-price__text {
        div {
          position: absolute;
          color: #333;
          font-size: 13px;
          left: 0;
          text-align: center;
          top: 20px;
          transform: translateX(-20%);
        }
        .text-max {
          left: unset;
          right: 0;
          transform: translateX(20%);
        }
      }
    }
    button {
      margin-top: 80px;
      width: 100%;
      padding: 12px 0;
      background: $secondTextColor;
      color: #fff;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      letter-spacing: 4px;
    }
  }
}
