$mainColor: #bb162b;
$mainTextColor: #333;
$linkTextColor: #288ad6;

// animation-button
@keyframes example {
  0% {
    background-color: red;
    left: 0px;
    top: 0px;
  }
  100% {
    background-color: red;
    left: 200px;
    top: 0px;
  }
}

@-webkit-keyframes shine {
  100% {
    left: 100%;
  }
}

@keyframes shine {
  100% {
    left: 100%;
  }
}
